.advantages {
  padding-top: 43px;

  background-color: @text_main_color;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 204px;
  height: 139px;
  margin: 0 auto;
  padding: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  color: @bg_main_color;
}

.advantages__question {
  width: 210px;
  margin: 0 0 0 0;
  padding: 0;
}

.advantages__answers {
  width: 210px;
  margin: 0;
  padding: 0;
}

.advantages__list-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 76px;
  background-color: @bg_second_color;
  background-image: url("../img/bg-triangle-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: -310px -116px;
  background-size: 1931px 199px;
}

// .advantages__list-footer-wrapper::before {
//   position: relative;
//   content: "";
//   width: 100%;
//   height: 320px;
//   background-color: @bg_second_color;
//   background-image: url("../img/bg-triangle-white.svg");
//   background-repeat: no-repeat;
//   // background-position: 300px -27px;
//   // background-size: 1200px 100px;
//   // background-position: -310px -77px;
//   // background-size: 1931px 199px;
//   background-color: blue;
// }

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 705px;
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 318px;
  padding-left: 0;
  background-color: @bg_second_color;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 428px;
  background-size: 157px 320px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  list-style: none;
}

.advantages__title {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @text_second_color;
}

.advantages__description {
  display: block;
  // ie 11
  width: 260px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: @bg_main_color;
}

.advantages__description-third {
  // ie 11
  width: 279px;
}

.advantages__footer {
  display: flex;
  justify-content: center;
  width: 320px;
}

.advantages__promo-foto-first,
.advantages__promo-foto-second {
  display: none;
}

@media (min-width: @tablet_width) {
  .advantages__header {
    width: 585px;
    height: 153px;
    font-size: 40px;
  }

  .advantages__question {
    width: 590px;
    margin-top: 16px;
  }

  .advantages__answers {
    width: 340px;
    height: 99px;
    line-height: 48px;
  }

  .advantages__list-footer-wrapper {
    height: 530px;
    padding-top: 48px;
    background-image: url("../img/bg-triangle-white-tablet.svg");
    background-repeat: no-repeat;
    background-position: -310px -63px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 631px;
    height: 100%;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 6px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px 481px;
    }
  }

  .advantages__list {
    width: 316px;
    height: 392px;
    margin-top: 72px;
    padding-bottom: 0;
    background-image: none;
  }

  .advantages__item {
    align-items: flex-start;
  }

  .advantages__description {
    text-align: left;
    width: 314px;
  }

  .advantages__description-third {
    height: 72px;
  }

  .advantages__footer {
    transform: scale(1.8);
    margin-top: 10px;
  }
}

@media (min-width: @desktop_width) {
  .advantages {
    padding-top: 0;
  }

  .advantages__header {
    width: 740px;
    height: 254px;
    font-size: 50px;
  }

  .advantages__question {
    width: 733px;
    margin-top: 84px;
  }

  .advantages__answers {
    width: 420px;
    height: 127px;
    line-height: 61px;
  }

  .advantages__list-footer-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    height: 632px;
    margin-top: 0;
    padding: 0;
    background-position: -869px 0;
    background-size: 2991px 199px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 940px;
    height: 100%;
    background-image: none;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 893px;
    height: 565px;
    margin-top: 0;
    background-color: transparent;
  }

  .advantages__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    transform: scale(1);
  }

  .advantages__promo-foto-first,
  .advantages__promo-foto-second {
    display: block;
  }

  .advantages__item {
    width: 250px;
    height: 562px;
    padding-top: 357px;
  }

  .advantages__item-first {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 290px 301px;
    }
  }

  .advantages__item-second {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -18px top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 290px 301px;
    }
  }

  .advantages__item-third {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 290px 301px;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    // ie 11
    width: 249px;
  }

  .advantages__description {
    width: 249px;
    height: 120px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
