.application {
  // ie 11
  // min-height: 389px;
  margin-top: 46px;
  width: 100%;
  // background-color: @bg_third_color;
}

.application__wrapper-big {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
}

.application__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
}

.application__download {
  padding-top: 11px;
  padding-right: 35px;
  padding-bottom: 14px;
  padding-left: 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: @text_main_color;

  border: solid 3px @text_main_color;
  border-radius: 35px;
}


.application__available {
  margin-top: 22px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @text_main_color;
  width: 240px;
}

.application__download:hover {
  background-color: @text_main_color;
  color: @text_third_color;
}

.application__download:active {
  background-color: @text_main_color;
  color: @text_fourth_color;
}

@media (min-width: @tablet_width) {
  .application {
    width: 300px;
    height: 334px;
  }

  .application__wrapper-big {
    width: 300px;
  }

  .application__download {
    padding-right: 45px;
    padding-left: 46px;
  }

  .application__wrapper {
    margin-top: 63px;
  }

  .application__available {
    width: 300px;
    margin-top: 37px;
    font-size: 18px;
  }
}

@media (min-width: @desktop_width) {
  .application {
    margin-top: 40px;
    width: 303px;
    height: 350px;
  }

  .application__wrapper-big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .application__wrapper {
    height: 159px;
    margin-top: 67px;
  }

  .application__download {
    width: 300px;
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;
    font-size: 21px;
  }
}
//
