.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @bg_main_color;
  background-color: @text_main_color;
}

.form__title {
  width: 278px;
  margin-top: 45px;
}


.form__title-text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @bg_main_color;
}

.form__title-text span {
  display: none;
}

.form__message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form__name-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 276px;
  height: 316px;
  margin-top: 43px;
  order: 1;
}

.form__name-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 87px;
}

.form__last-name-label-class {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @text_third_color;
}

.form__name-item label {
  height: 13px;
  width: 76px;
  margin-left: 20px;
  line-height: 12px;
  text-transform: uppercase;
}

.form__name-item input {
  width: 276px;
  height: 59px;
  border: solid 2px @border_main_color;
  border-radius: 2px;
}

// .form__last-name-input-class::-webkit-input-placeholder,
// .form__last-name-input-class::-moz-placeholder,
// .form__last-name-input-class:-moz-placeholder,
// .form__last-name-input-class:-ms-input-placeholder

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder,
.form input,
.form textarea {
  padding-left: 10px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @bg_main_color;
}

.form textarea::-webkit-input-placeholder {
  padding-top: 11px;
}

.form__personal-name-label-class {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @text_third_color;
}

.form__middle-name-label-class {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @text_third_color;
}

.form__progress {
  width: 100%;
  margin-top: 29px;
  padding-top: 100px;
  padding-bottom: 37px;
  order: 2;
  background-color: @bg_second_color;
  border: none;
}

.form__progress legend {
  position: relative;
  top: 54px;
  width: 222px;
  height: 32px;
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @text_third_color;
  text-transform: uppercase;
}

.form__progress-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  height: 451px;
  margin: 0 auto;
}

.form__progress-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 278px;
  height: 122px;
}

.form__progress-item {
  position: relative;
  height: 40px;
}

// .form__selfie-shark {

// }

.form__checkbox {
  display: block;
  height: 40px;
  padding-left: 68px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @bg_main_color;
}

.form__checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @text_main_color;
  border: solid 2px @border_main_color;
  border-radius: 2px;
}

.form__progress-input:checked + .form__checkbox::before {
  background-image: url("../img/icon-yes-red.svg");
  background-repeat: no-repeat;
  background-position: 5px 7px;
  background-size: 23px;
}

// .form__burned-beach {

// }

// .form__saw-norris {

// }

// .form__bought-souvenirs {

// }

// .form__held-tower {

// }

// .form__trashed-hotel {

// }

.form__contact {
  padding-top: 37px;
  padding-bottom: 25px;
  border: none;
  order: 3;
}

.form__contact-legend {
  display: none;
}

.form__contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 207px;
}

.form__contact-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 91px;
}

.form__contact-item label {
  padding-left: 21px;
}

.form__contact input {
  width: 276px;
  height: 59px;
}

.form__contact-phone-label-class {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @text_third_color;
  text-transform: uppercase;
}

.form__contact-email-label-class {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @text_third_color;
  text-transform: uppercase;
}

.form__system {
  width: 100%;
  padding-top: 95px;
  padding-bottom: 44px;
  background-color: @bg_second_color;
  border: none;
  order: 4;
}

.form__system-legend {
  position: relative;
  top: 55px;
  width: 181px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @text_third_color;
  text-transform: uppercase;
}

.form__system-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 279px;
  height: 183px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.form__system-item {
  padding-left: 69px;
}

.form__radio {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @bg_main_color;
}

.form__radio::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -70px;
  width: 38px;
  height: 38px;
  border: 2px solid @border_main_color;
  border-radius: 50%;
  background-color: @text_main_color;
}

.form__radio-input:checked + .form__radio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -59px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @text_third_color;
}

.form__textarea {
  border: none;
  width: 276px;
  order: 5;
}

.form__textarea legend {
  position: relative;
  top: 32px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @text_third_color;
  text-transform: uppercase;
}

.form__textarea textarea {
  width: 276px;
  height: 197px;
  margin-top: 39px;
  border: 2px solid @border_main_color;
  border-radius: 2px;
}

// .form__textarea-emotion {

// }

.form__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 140px;
  margin-top: 33px;
  border-radius: 2px;
  order: 6;
}

.form__button-sumbit {
  width: 282px;
  height: 65px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: @text_main_color;
  background-color: @bg_button_form;
  border: 2px solid @bg_button_form;
  border-radius: 5px;
}

.form__note {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @bg_main_color;
}

.form__note-star {
  color: @text_third_color;
}

.form__note-full-text {
  display: none;
}

@media (min-width: @tablet_width) {
  .form__title {
    width: 490px;
    margin-top: 92px;
  }

  .form__title-text {
    font-size: 18px;
  }

  .form__title-text span {
    display: inline;
  }

  .form__name-list {
    width: 620px;
    height: 296px;
    margin-top: 71px;
  }

  .form__name-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
  }

  .form__name-item label {
    margin-left: 0;
  }

  .form__name-item .form__last-name-input-class {
    width: 524px;
  }

  .form__name-item .form__personal-name-input-class {
    width: 765px;
  }

  .form__name-item .form__middle-name-input-class {
    width: 526px;
  }

  .form__progress {
    align-items: flex-start;
    width: 620px;
    margin-top: 49px;
    padding-top: 41px;
    padding-bottom: 42px;
    padding-left: 44px;
    border: solid 2px @border_main_color;
    border-radius: 2px;
    background-color: @text_main_color;
    order: 4;
  }

  .form__progress legend {
    position: relative;
    top: 0;
    width: 435px;
    height: 32px;
    padding: 0;
    // margin: 0;

    font-size: 14px;
    line-height: 30px;
    background-color: @text_main_color;
  }

  .form__progress-wrapper {
    width: 309px;
    margin: 0;
    padding: 0;
  }

  .form__checkbox {
    padding-left: 58px;
  }

  .form__checkbox::before {
    top: -4px;
    left: -1px;
    width: 38px;
    height: 39px;
  }

  .form__contact {
    width: 620px;
    margin-top: 52px;
    padding-top: 30px;
    padding-bottom: 31px;
    border: solid 2px @border_main_color;
    border-radius: 2px;
  }

  .form__contact-legend {
    display: block;
    width: 259px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: @text_third_color;
    background-color: @text_main_color;
  }

  .form__contact-wrapper {
    height: 232px;
  }

  .form__contact-item {
    position: relative;
    flex-direction: column-reverse;
    height: 99px;
  }

  .form__contact input {
    width: 496px;
    height: 65px;
    padding-right: 60px;
    border: solid 2px @border_main_color;
    border-radius: 2px;
  }

  .form__contact-item::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -2px;
    width: 62px;
    height: 62px;
    background-color: @border_main_color;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form__contact-item-phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  .form__contact-item-email::after {
    background-image: url("../img/icon-mail.svg");
  }

  .form__system {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 621px;
    height: 307px;
    margin-top: 54px;
    padding-top: 0;
    border: solid 2px @border_main_color;
    border-radius: 2px;
    background-color: @text_main_color;
    order: 1;
  }

  .form__system-legend {
    top: 0;
    width: 368px;
    background-color: @text_main_color;
  }

  .form__system-list {
    margin-top: 50px;
    margin-left: 47px;
  }

  .form__system-item {
    padding-left: 58px;
  }

  .form__radio::before {
    left: -59px;
  }

  .form__radio-input:checked + .form__radio::after {
    left: -48px;
  }

  .form__textarea {
    width: 619px;
    height: 289px;
    margin-top: 51px;
    padding-top: 33px;
    padding-bottom: 270px;
    border: solid 2px @border_main_color;
    border-radius: 2px;
  }

  .form__textarea legend {
    top: 0;
    width: 260px;
    background-color: @text_main_color;
  }

  .form__textarea textarea {
    width: 496px;
    height: 189px;
    margin-top: 0;
  }

  .form__footer {
    flex-direction: row;
    width: 626px;
    margin-top: 28px;
    margin-bottom: 36px;
  }

  .form__button-sumbit {
    width: 305px;
  }

  .form__note {
    padding-top: 3px;
  }
}

@media (min-width: @desktop_width) {
  .form__message {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }

  .form__title {
    width: 756px;
    height: 56px;
  }

  .form__name-list {
    width: 433px;
    height: 298px;
    margin-top: 87px;
  }

  .form__name-item .form__last-name-input-class {
    width: 336px;
  }

  .form__name-item .form__personal-name-input-class {
    width: 509px;
  }

  .form__name-item .form__middle-name-input-class {
    width: 337px;
  }

  .form__progress {
    width: 936px;
    height: auto;
    padding: 41px 0 51px 60px;
    border: solid 2px @border_main_color;
    background-color: @text_main_color;
  }

  .form__progress-wrapper {
    flex-direction: row;
    align-items: flex-start;
    width: 864px;
    height: auto;
  }

  .form__progress-group {
    width: 255px;
    margin-left: 0;
  }

  .form__progress-group-second {
    width: 233px;
  }

  .form__checkbox {
    width: 255px;
    padding-left: 55px;
  }

  .form__contact {
    width: 936px;
    margin: 49px auto 0 auto;
    padding-bottom: 20px;
  }

  .form__contact-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 814px;
    height: 94px;
    margin: 0 auto;
  }

  .form__contact-item {
    height: 96px;
  }

  .form__contact input {
    width: 371px;
  }

  .form__system {
    width: 431px;
    height: 307px;
    margin-top: 73px;
  }

  .form__system-list {
    height: 180px;
    margin-left: 63px;
  }

  .form__textarea {
    width: 936px;
    height: 213px;
    padding-top: 30px;
    padding-bottom: 197px;
  }

  .form__textarea textarea {
    width: 816px;
    height: 124px;
  }

  .form__footer {
    width: 940px;
    margin: 25px auto 10px auto;
  }

  .form__button-sumbit {
    width: 303px;
  }

  .form__note-full-text {
    display: inline;
  }
}
