.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 320px;
  height: 611px;

  background-color: @text_main_color;
}

.info__title {
  width: 222px;
  height: 48px;
}

.info__title-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @bg_main_color;
}

.info__phone-email-address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 237px;
  height: 263px;
  margin-top: 44px;
}

.info__phone-email-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 237px;
  height: 126px;
}

.info__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 47px;
}

.info__header {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: @bg_main_color;
}

.info__cost {
  margin-top: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @text_third_color;
}

.info__email {
  margin-top: 28px;
}

.info__address {
  margin-top: 27px;
}

.info__address .info__cost {
  display: flex;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.info__map {
  width: 320px;
  height: 219px;
  margin-top: 73px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-y: -442px;
}

@media (min-width: @tablet_width) {
  .info {
    width: 660px;
  }

  .info__phone-email-address-wrapper {
    flex-direction: column;
    width: 237px;
    height: 263px;
    margin-top: 44px;
  }

  .info__phone-email-wrapper {
    flex-direction: row;
    width: 600px;
    height: 126px;
  }

  .info__map {


    width: 660px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position-y: -442px;
  }
}

@media (min-width: @desktop_width) {
  .info {
    width: 1200px;
  }

  .info__phone-email-address-wrapper {
    position: relative;
    flex-direction: row;
    width: 1000px;
    height: 263px;
    margin-top: 44px;
  }

  .info__phone-email-wrapper {
    flex-direction: row;
    width: 1000px;
    height: 126px;
  }

  .info__address {
    position: absolute;
    left: 400px;
  }

  .info__map {
    width: 1200px;
    height: 680px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
//
