.logo-pink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 108px;
}

.logo-pink__img {
  width: 150px;
  height: 51px;
  padding-top: 10px;
}

@media (min-width: @tablet_width) {
  .logo-pink {
    width: 148px;
    height: 61px;
    padding-bottom: 15px;
  }

  .logo-pink__img {
    padding: 0;
  }
}

@media (min-width: @desktop_width) {


}
//
