.page-main-photo {
  width: 100%;
  background-color: @text_main_color;
}

.page-main-photo__wrapper {
  // width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet_width) {
  .page-main-photo__wrapper {
    // width: 660px;
  }
}

@media (min-width: @desktop_width) {
  .page-main-photo__wrapper {
    // width: 960px;
  }

  .page-main-photo {
    background-color: transparent;
  }
}
//
