.page-header {
  width: 320px;
  background-color: @bg_main_color;
}

.page-header__logo {
  padding: 22px 225px 25px 20px;
  box-shadow: 0 1px 0 0 @shadow_menu_first, inset 0 -1px 0 0 @text_second_color;
  background-color: @bg_main_color;
}
//
