.page-main {
  width: auto;
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: @bg_third_color;
}

@media (min-width: @tablet_width) {
  .page-main__wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop_width) {
  .page-main__wrapper {
    width: 960px;
  }
}
//
