.photo-list {
  padding-left: 0;

  list-style: none;
  background-color: @text_main_color;
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 20px auto;

  // background-color: @bg_second_color;
}

.photo-list__item a {
  height: 180px;
}

.photo-list__image-panorama-day {
  width: 100%;
}

.photo-list__image {
  // width: 100%;
}

.photo-list__item-wrapper {
  width: 280px;
  background-color: @bg_second_color;
}

.photo-list__item-header {
  width: 280px;
  margin-top: 25px;
  padding-left: 17px;

  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @bg_main_color;
}

.photo-list__item-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  color: @bg_main_color;
}

.photo-list__item-comment {
  padding-left: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @bg_main_color;
}

.photo-list__item-counter {
  margin-top: 20px;
  margin-bottom: 28px;
  padding-left: 50px;

  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @text_third_color;
}
//
