.photo-list {
  padding-left: 0;

  list-style: none;
  background-color: @text_main_color;
}

.photo-list__item {
  width: 280px;
  margin: 20px auto;

  background-color: @bg_second_color;
}

.photo-list__item-header {
  margin-top: 25px;
  padding-left: 17px;

  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @bg_main_color;
}

.photo-list__item-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  color: @bg_main_color;
}

.photo-list__item-comment {
  padding-left: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @bg_main_color;
}

.photo-list__item-counter {
  margin-top: 20px;
  margin-bottom: 28px;
  padding-left: 50px;

  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: @text_third_color;
}
//
