.prices {
  background-color: @bg_second_color;
}
.prices__list {
  display: flex;
  flex-direction: column;
}
.prices__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 276px;
}


.prices__item-head {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 276px;
  height: 94px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: @text_main_color;

  background-color: @bg_main_color;
  // background-image: url("");

}

.prices__item-head p {
  margin: 0;
}

.prices__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 276px;
  height: 59px;
  background-color: red;
}

.princes__column-product .prices__item-head {
  display: none;
}

.prices__item-name {
  // Управляю изменением положения
  // display: none;
  width: 140px;
  // центрую-калибрую
  margin-right: 70px;
  margin-left: 22px;
  background-color: khaki;
}

.prices__item-name p {

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @bg_main_color;
  background-color: lawngreen;
}

.prices__item-on {
  // flex-grow: 0.5;
  width: 31px;
  // width: 50%;
  height: 21px;
  margin-right: 20px;
  margin: 0 auto;

  background-image: url(../img/icon-yes.svg);
  background-repeat: no-repeat;
  background-color: lightskyblue;
}

.prices__item-off {
  width: 27px;
  height: 26px;
  margin-right: 20px;
  margin: 0 auto;

  background-image: url(../img/icon-no.svg);
  background-repeat: no-repeat;
}



































// Пока сдвигаю
.prices__table {


    // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  border: solid 2px #e5e5e5;
  // border-radius: 3px;
  background-color: khaki;
}

//
