.promo {
  min-height: 400px;
  width: 280px;
  margin: 0 auto;
  // background-color: @bg_third_color;
  background-repeat: no-repeat;
}

.promo__wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.promo__header {
  margin-top: 0;
  padding-top: 28px;

  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @text_main_color;
}

@media (min-width: @tablet_width) {
  .promo__wrapper {
    width: 300px;
    margin: 0;
    background-image: none;
  }
}

@media (min-width: @desktop_width) {
  .promo__wrapper {
    height: 200px;
  }

}
//
