.promo-application {
  min-width: 280px;
  height: 666px;
}

@media (min-width: @tablet_width) {
  .promo-application {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
    height: 618px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: -41px 73px;
    background-size: 701px 544px;
  }
}

@media (min-width: @desktop_width) {
  .promo-application {
    justify-content: flex-start;
    width: 944px;
    height: 743px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 19px 99px;
    background-size: 1049px 644px;
    // background-image: none;
  }
}
