.proposal {
  width: 320px;
}

.proposal__text {
  width: 244px;
  margin: 60px auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @bg_main_color;
}

@media (min-width: @tablet_width) {

}

@media (min-width: @desktop_width) {


}
//
