.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // height: px;
  margin-top: 0;
  // margin-right: auto;
  // margin-bottom: px;
  // margin-left: auto;
  // padding-top: px;
  // padding-right: px;
  // padding-bottom: px;
  // padding-left: px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  background-color: @text_main_color;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.reviews__sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.reviews__slider {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  // width: px;
  // height: px;
  margin-top: 0;
  // margin-right: px;
  margin-bottom: 0;
  // margin-left: px;
  padding-top: 44px;
  // padding-right: px;
  padding-bottom: 25px;
  // padding-left: px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  // text-align: center;
  color: @text_second_color;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.reviews__text {
  width: 278px;
  // height: px;
  margin-top: 0;
  // margin-right: 0px;
  margin-bottom: 0;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @bg_main_color;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.reviews__switch-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 56px;
  height: 6px;
  margin-top: 43px;
  // margin-right: 0px;
  margin-bottom: 20px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.reviews__switch-slide {
  width: 6px;
  height: 6px;
  padding: 0;

  background-color: @bg_main_color;
  opacity: 0.3;
  // background-image: url("");
  // border: 3px solid @bg_second_color;
  border-radius: 50%;
  box-sizing: content-box;
}

.reviews__switch-slide--active {
  width: 6px;
  height: 6px;
  background-color: @text_main_color;
  opacity: 1;
  border: 3px solid @bg_main_color;
  box-sizing: content-box;
}

@media (min-width: @tablet_width) {
  .reviews__sliders {
    width: 620px;
  }

  .reviews__slider {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .reviews__text {
    width: 617px;
    font-size: 18px;
    text-align: center;
  }

  .reviews__switch-box {
    display: none;
  }
}

@media (min-width: @desktop_width) {
  .reviews {
    flex-direction: row;
    justify-content: center;
    height: 405px;
  }
}
//
