.social-list {
  width: 172px;
  min-height: 46px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-list__item {
  display: block;
  content: "";
  width: 46px;
  height: 46px;
  border: 3px solid @border_social_item;
  border-radius: 50%;
}
//
