.tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 700px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__image {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__image-content {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__ranges-action-wrapper {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__ranges {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__crop {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__range-controls {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__scale {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__bar {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__toggle {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__toggle-crop {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__fill {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__range-controls {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__toggle-fill {
    // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__contrast {
    // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__toggle-contrast {
    // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;
}

.tool__action {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 280px;
  height: 201px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__action-upload {
    // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

}

.tool__button-upload {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  padding-top: 20px;
  padding-right: 91px;
  padding-bottom: 20px;
  padding-left: 91px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  color: @text_third_color;
  // background-color: @;
  // background-image: url("");
  border: 3px solid @text_third_color;
  border-radius: 30px;

}

.tool__action-reset {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;

  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;

  // background-color: @;
  // background-image: url("");
  // border: 1px solid @;
  // border-radius: 3px;

  opacity: 0.1;

}

.tool__button-reset {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items: center;
  // width: px;
  // height: px;
  margin-top: 12px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  padding-top: 20px;
  padding-right: 105px;
  padding-bottom: 20px;
  padding-left: 105px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  color: @bg_main_color;
  // background-color: @;
  // background-image: url("");
  border: 3px solid @bg_main_color;
  border-radius: 30px;
}







//
